@model THPTChuyen.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .giao_vien {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        margin: 10px 20px;
    }

    .box-giaovien {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .avatar_giaovien {
        height: 280px;
        width: 150px;
        padding: 10px;
    }

    .chill_giaovien {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 300px;
        border: 1px rgb(82, 114, 118) solid;
        background-color: aliceblue;
        border-radius: 5px;
    }

    .title_chucvu h1 {
        text-align: center;
        color: white;
        font-size: 25px;
    }

    .title_chucvu {
        width: 100%;
        height: 45px;
        background: #3171b9;
    }

    .info_giaovien {
        margin-left: 20px;
        width: 300px;
    }

        .info_giaovien h3 {
            margin-bottom: 30px;
            border-bottom: #588c93 1px solid;
            font-size: 16px;
            color: rgb(48, 48, 48);
        }

        .info_giaovien h1 {
            margin: 30px 0;
            color: rgb(48, 48, 48);
        }
</style>
<div class="container-sidebar">
    <div class="box-img">
        <img class="banner-img" src="~/Content/Main/image/bander.jpg" alt="" />
    </div>
    <div class="container-menu">
        <div class="dropdown">
            <button class="dropbtn"><a href="@Url.Content("~/Home/Index")"><i class="fa-solid fa-house"></i></a></button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Giới thiệu</a></button>
            <div class="dropdown-content">
                <a href="@Url.Content("~/GioiThieu/Index")">Lịch sử phát triển</a>
                <a href="@Url.Content("~/GioiThieu/nhiemvu")">Chức năng - nhiệm vụ</a>
                <a href="@Url.Content("~/GioiThieu/phancong")">Phân công nhiệm vụ</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Tổ chức</a></button>
            <div class="dropdown-content">
                @foreach (var item in Model.listToChuc)
                {
                    @Html.ActionLink(item.TenToChuc, "Index", "GiaoVien", new { @id = item.MaToChuc }, null)
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Tin tức</a></button>
            <div class="dropdown-content">
                @foreach (var item in Model.listLoaitintuc)
                {
                    @Html.ActionLink(item.TenLoai, "Index", "TinTuc", new { @id = item.MaLoaiTin }, null)
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Văn bản</a></button>
            <div class="dropdown-content">
                @foreach (var item in Model.listLoaivanban)
                {
                    @Html.ActionLink(item.TenLoaiVanBan, "Index", "VanBan", new { @id = item.MaLoaiVanBan }, null)
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Đề thi</a></button>
            <div class="dropdown-content">
                <a href="#">Đề thi học kỳ và chuyên môn</a>
                <a href="#">Thi thử đại học</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="@Url.Content("~/HinhAnh/Index")">Hình ảnh</a></button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Thành viên</a></button>
            <div class="dropdown-content">
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Liên hệ</a></button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Kỷ yếu 50 năm</a></button>
        </div>
    </div>
    <div class="date-search">
        <div class="date-time" id="date"></div>
        <div class="search">
            <input class="input-search" type="text" placeholder="Tìm kiếm...">
            <button type="button" class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</div>
<div class="box-giaovien">
    <div class="title_chucvu">
        @foreach (var item in Model.toChuc.Take(1))
        {
            <h1>@item.TenToChuc</h1>
        }
    </div>
    <div class="giao_vien">
        @foreach (var item in Model.giaoVien)
        {
            <div class="chill_giaovien">
                <div>
                    <img class="avatar_giaovien" src="~/UploadFile/Image/@item.avatar" alt="">
                </div>
                <div class="info_giaovien">
                    <h1>@item.TenGiaoVien</h1>
                    <h3>Chức vụ: @item.ChucVu.TenChucVu</h3>
                    <h3>Email: @item.Email</h3>
                    <h3>Điện thoại: @item.SDT</h3>
                    <a href="@Url.Content("~/GiaoVien/Chitiet/")@item.MaGiaoVien" style="color:forestgreen">Chi tiết</a>
                </div>
            </div>
        }
    </div>

</div>
