@model THPTChuyen.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sidebar">
    <div class="box-img">
        <img class="banner-img" src="~/Content/Main/image/bander.jpg" alt="" />
    </div>
    <div class="container-menu">
        <div class="dropdown">
            <button class="dropbtn"><a href="@Url.Content("~/Home/Index")"><i class="fa-solid fa-house"></i></a></button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Giới thiệu</a></button>
            <div class="dropdown-content">
                <a href="@Url.Content("~/GioiThieu/Index")">Lịch sử phát triển</a>
                <a href="@Url.Content("~/GioiThieu/nhiemvu")">Chức năng - nhiệm vụ</a>
                <a href="@Url.Content("~/GioiThieu/phancong")">Phân công nhiệm vụ</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Tổ chức</a></button>
            <div class="dropdown-content">
                @foreach (var item in Model.listToChuc)
                {
                    @Html.ActionLink(item.TenToChuc, "Index", "GiaoVien", new { @id = item.MaToChuc }, null)
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Tin tức</a></button>
            <div class="dropdown-content">
                @foreach (var item in Model.listLoaitintuc)
                {
                    @Html.ActionLink(item.TenLoai, "Index", "TinTuc", new { @id = item.MaLoaiTin }, null)
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Văn bản</a></button>
            <div class="dropdown-content">
                @foreach (var item in Model.listLoaivanban)
                {
                    @Html.ActionLink(item.TenLoaiVanBan, "Index", "VanBan", new { @id = item.MaLoaiVanBan }, null)
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Đề thi</a></button>
            <div class="dropdown-content">
                <a href="#">Đề thi học kỳ và chuyên môn</a>
                <a href="#">Thi thử đại học</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="@Url.Content("~/HinhAnh/Index")">Hình ảnh</a></button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Thành viên</a></button>
            <div class="dropdown-content">
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Liên hệ</a></button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><a href="#">Kỷ yếu 50 năm</a></button>
        </div>
    </div>
    <div class="date-search">
        <div class="date-time" id="date"></div>
        <div class="search">
            <input class="input-search" type="text" placeholder="Tìm kiếm...">
            <button type="button" class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</div>
<div style="width:100%; background-color:bisque; height:45px">

<h1 style="text-align:center;margin-top: 10px; font-size:20px">Lịch sử phát triển</h1>
</div >
<div style="margin:0 10px">
    @foreach(var item in Model.gioithieu)
            {
                @Html.Raw(item.LichSuPhatTrien);
            }
</div>

