@model THPTChuyen.Models.VanBan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa văn bản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaVanBan)

        <div class="form-group">
            <h6 class="control-label col-md-2">Tiêu đề</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6 class="control-label col-md-2">Ký hiệu</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KiHieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KiHieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Ngày ban hành</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayBanHanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayBanHanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Ngày hiệu lực</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHieuLuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayHieuLuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Loại văn bản</h6>
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiVanBan", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLoaiVanBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Người ký</h6>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguoiKy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NguoiKy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Tệp</h6>
            <div class="col-md-10">
                <iframe src="~/UploadFile/File/@Model.DuongDan"></iframe>
                @*@Html.EditorFor(model => model.DuongDan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DuongDan, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" /> &emsp;
                <button type="submit" class="btn btn-default">@Html.ActionLink("Trở về", "Index")</button>
            </div>
        </div>
    </div>
}
