@model PagedList.IPagedList<THPTChuyen.Models.VanBan>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Văn bản</h2>
<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
</style>
<p>
    <button style="border: 1px solid #cb0c9f; border-radius: 5px; padding: 6px 12px; background: white ">@Html.ActionLink("Thêm văn bản", "Create")</button>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Số hiệu
            </th>
            <th>
                Ngày ban hành
            </th>
            <th>
                Ngày hiệu lực
            </th>
            <th>
                Người ký
            </th>
            <th>
                Tệp
            </th>
            <th>
                Thể loại
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TieuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KiHieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBanHanh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayHieuLuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiKy)
                </td>
                <td>
                    <a href="~/UploadFile/File/@Html.DisplayFor(modelItem => item.DuongDan)" download="@Html.DisplayFor(modelItem => item.DuongDan)"><i class="fa-solid fa-download"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiVanBan.TenLoaiVanBan)
                </td>
                <td style="width:100px">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaVanBan }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaVanBan })
                </td>
            </tr>
        }
    </tbody>

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
